.custom-button {
  background-color: #007bff;
  color: white;
  font-weight: bold;
  padding: 8px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.custom-button:hover {
  background-color: #0056b3;
}
